<mat-accordion class="custom-slider">
  <form [formGroup]="filterForm">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filter</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-select [formControlName]="'topic'" [placeholder]="'Thema wählen...'" [value]="'---'">
        <mat-option *ngFor="let topic of topics" [value]="topic" [innerHTML]="topic"></mat-option>
      </mat-select>

      <mat-form-field>
        <input matInput [formControlName]="'date'" [matDatepicker]="picker" placeholder="Datum wählen">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <ng5-slider id="slider" [(value)]="nCharsLow" [(highValue)]="nCharsHi" [options]="options"
                  (valueChange)="emitValues()"></ng5-slider>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Anzeige</mat-panel-title>
      </mat-expansion-panel-header>

      <ng5-slider [(value)]="nSummaryWords" [options]="{floor:0, ceil:200}" (valueChange)="emitValues()"></ng5-slider>

    </mat-expansion-panel>
  </form>
</mat-accordion>

