/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';


@import './theme';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

em {
  color: mat-color($my-theme-primary);
}
